%div#header
  %span#title
    = link_to 'Gitterb', '/'
  %form#branch_selection_form
    %span#branch_navi
      repository:
      = select_tag(:repo, options_from_collection_for_select(Repository.repo_names, :to_s, :to_s, @repo_name))
      branch:
      = select_tag(:branch , options_from_collection_for_select(@branches, :to_s, :to_s, @branch))
      all:
      = check_box_tag(:all, true, @all)
      max-count:
      = text_field_tag(:max_count, @max_count, :size => 3)

%div#tree
  loading...

%div#detail

