#commit.silinesngle_commit
  .group
    .envelope.commit
      .human
        .message
          %pre= raw message_with_link(commit)
        .actor
          .gravatar
            %img{ :src => gravator_link(commit) , :height => "30", :alt => "", :width => "30" }
          .name
            %a= commit.author_name
            %span
              (author)
          .date
            %time.js-relative-date{ :title => commit.authored_date, :datetime => commit.authored_date}
              = time_ago_in_words(commit.authored_date)
      .machine
        = raw envelope_title("commit")
        = link_to_commit(commit, 20)
        %br
        = raw envelope_title("tree")
        = commit.tree.oid[0..20]
        %br
        - commit.parents.each do |p|
          = raw envelope_title("parent")
          = link_to_commit(p, 20, {"data-key" => "p"})
          %br
